#inputRolNombre {
	width: 70%;
}

#divMenu {
	width: 30%;
	margin-right: 0;
}

#selectMenu {
	width: 80%;
	float: left;
}

#inputAgregarMenu {
	margin-left: 5px;
	background-image: url('/LogisticaWEB/images/add.png');
	background-position: center;
	background-repeat: no-repeat;
}

#inputAgregarRol {
	margin-left: 5px;
	background-image: url('/LogisticaWEB/images/add.png');
	background-position: center;
	background-repeat: no-repeat;
}

#divRol {
	width: 30%;
	margin-right: 0;
}

#selectRol {
	width: 80%;
	float: left;
}

#divTableMenus {
	float: left;
	margin-left: 4px;
	margin-top: 8px;
}

#divTableSubordinados {
	float: left;
	margin-left: 4px;
	margin-top: 8px;
}