#divDescripcion {
	width: 90%;
}

#inputDescripcion {
	width: 66%;
}

#divDistribuidor {
	width: 44%;
}

#divPuntoVentaDepartamento {
	width: 45%;
}

#selectPuntoVentaBarrio {
	width: 60%;
}

#divChip {
	width: 44%;
}