#divProductoDescripcion {
	float: left;
	width: 60%;
}

#inputProductoDescripcion {
	margin-left: 2px;
	width: 100%;
}

#divProductoMarca {
	float: left;
	width: 60%;
}

#selectProductoMarca {
	margin-left: 2px;
	width: 100%;
}

#divProductoEmpresaService {
	float: left;
	width: 60%;
}

#selectProductoEmpresaService {
	margin-left: 2px;
	width: 100%;
}