#divEmpresa {
	float: left;
	margin-top: 2px;
	margin-left: 2px;
	width: 70%;
}

#selectEmpresa {
	width: 60%;
}

#divStockTipoMovimiento {
	float: left;
	margin-top: 2px;
	margin-left: 2px;
	width: 70%;
}

#selectStockTipoMovimiento {
	width: 60%;
}

#divMarca {
	float: left;
	margin-top: 2px;
	margin-left: 2px;
	width: 70%;
}

#selectMarca {
	width: 60%;
}

#divModelo {
	float: left;
	margin-top: 2px;
	margin-left: 2px;
	width: 70%;
}

#selectModelo {
	width: 60%;
}

#divTipoProducto {
	float: left;
	margin-top: 2px;
	margin-left: 2px;
	width: 70%;
}

#selectTipoProducto {
	width: 60%;
}

#divCantidad {
	float: left;
	margin-top: 2px;
	margin-left: 2px;
	width: 70%;
}

#divIMEI {
	float: left;
	margin-top: 2px;
	margin-left: 2px;
	width: 70%;
}

#inputIMEI {
	width: 58%;
}