#selectEmpresa {
	width: 30%;
}

#selectStockTipoMovimiento {
	width: 30%;
}

#selectMarca {
	width: 30%;
}

#selectModelo {
	width: 30%;
}

#selectTipoProducto {
	width: 30%;
}

#inputCantidad {
	width: 29%;
}

#inputIMEI {
	width: 29%;
}