#inputEmpresaNombre {
	width: 60%;
}

#inputEmpresaNombreSucursal {
	width: 60%;
}

#inputEmpresaDireccion {
	width: 60%;
}

#divFormaPago {
	width: 30%;
	margin-right: 0;
}

#selectFormaPago {
	width: 80%;
	float: left;
}

#inputAgregarFormaPago {
	margin-left: 5px;
	background-image: url('/LogisticaWEB/images/add.png');
	background-position: center;
	background-repeat: no-repeat;
}

#divUsuario {
	width: 30%;
	margin-right: 0;
}

#selectUsuario {
	width: 80%;
	float: left;
}

#inputAgregarUsuario {
	margin-left: 5px;
	background-image: url('/LogisticaWEB/images/add.png');
	background-position: center;
	background-repeat: no-repeat;
}

#divTableFormaPagos {
	float: left;
	margin-left: 4px;
	margin-top: 6px;
}

#divTableEmpresaUsuarioContratos {
	float: left;
	margin-left: 4px;
	margin-top: 6px;
}

#divEmpresaLogo {
	height: 150px;
}

#imgEmpresaLogo {
	margin-left: 2px;
	height: 100%;
}