#divUsuarioLogin {
	float: left;
	width: 70%;
}

#inputUsuarioLogin {
	margin-left: 2px;
	width: 100%;
}

#divUsuarioNombre {
	float: left;
	width: 70%;
}

#inputUsuarioNombre {
	margin-left: 2px;
	width: 100%;
}

#divUsuarioContrasena {
	float: left;
	width: 70%;
}

#inputUsuarioContrasena {
	margin-left: 2px;
	width: 91%;
}

#divEmpresa {
	float: left;
	margin-top: 2px;
	margin-left: 2px;
	width: 70%;
}

#selectEmpresa {
	width: 60%;
}

#divRol {
	float: left;
	margin-top: 2px;
	margin-left: 2px;
	width: 70%;
}

#selectRol {
	width: 60%;
}