#inputUsuarioNombre {
	width: 60%;
}

#inputUsuarioContrasena {
	width: 60%;
}

#divEmpresa {
	width: 30%;
	margin-right: 0;
}

#selectEmpresa {
	width: 80%;
	float: left;
}

#inputAgregarEmpresa {
	margin-left: 5px;
	background-image: url('/LogisticaWEB/images/add.png');
	background-position: center;
	background-repeat: no-repeat;
}

#divRol {
	width: 30%;
	margin-right: 0;
}

#inputAgregarRol {
	margin-left: 5px;
	background-image: url('/LogisticaWEB/images/add.png');
	background-position: center;
	background-repeat: no-repeat;
}

#selectRol {
	float: left;
	width: 80%;
}

#divTableEmpresas {
	float: left;
	margin-left: 4px;
	margin-top: 6px;
}

#divTableRoles {
	float: left;
	margin-left: 4px;
	margin-top: 6px;
}