body {
	margin: 0px;
	background-color: #EEEEEE;
}

span {
	padding-left: 2px;
}

input[type="text"] {
	font-size: 8pt;
	font-family: Helvetica, Calibri, Segoe UI;
	background-color: #F0F0F0;
	border: none;
}

textarea {
	font-size: 8pt;
	font-family: Helvetica, Calibri, Segoe UI;
	background-color: #F0F0F0;
	border: none;
	overflow: hidden;
	resize: none;
}

.divPrintingButtonBar {
	margin: auto;
	width: 197mm;
	height: 80px;
}

.divPrintingButton {
	float: left;
}

.divA4Sheet {
	font-size: 8pt;
	font-family: Helvetica, Calibri, Segoe UI;
	width: 197mm;
	height: 277mm;
	background-color: white;
	margin: auto;
	top: 0;
	left: 0;
	border: dotted 1px black;
	page-break-after: always;
	overflow: hidden;
}

.divPageHeading {
	margin: auto;
	width: 80%;
	height: 50mm;
}

.divPageContent {
	margin: auto;
	width: 78%;
}

.divTexto {
	height: 95px;
}

.divTitulo {
	float: left;
	width: 100%;
	height: 34px;
	font-weight: bold;
	overflow: hidden;
	/* white-space: nowrap; */
}

.divTabla {
	float: left;
	width: 100%;
	border-top: solid 1px black;
	border-left: solid 1px black;
	border-right: solid 1px black;
}

.divFila {
	float: left;
	width: 100%;
	height: 22px;
	border-bottom: solid 1px black;
}

.divFilaLast {
	float: left;
	width: 100%;
	height: 22px;
}

.divTextarea {
	float: left;
	width: 100%;
	border: solid 1px black;
}

.divTextarea ul {
 
}

.divFila div {
	float: left;
	padding-left: 2px;
	padding-top: 2px;
	height: 20px;
}

.divColumnaFull {
	width: 579px;
}

.divColumnaHalf {
	width: 288px;
	border-right: solid 1px black;
}

.divColumnaHalfFiller {
	width: 287px;
}

.divColumnaThird {
	width: 191px;
	border-right: solid 1px black;
}

.divColumnaThirdFiller {
	width: 190px;
}

.divColumnaQuarter {
	width: 140px;
	border-right: solid 1px black;
}

.divColumnaQuarterFiller {
	width: 140px;
}

.divColumnaFifth {
	width: 95px;
	border-right: solid 1px black;
}

.divColumnaFifthFiller {
	width: 98px;
}

.divColumnaSixth {
	width: 94px;
	border-right: solid 1px black;
}

.divColumnaSixthFiller {
	width: 93px;
}

.divColumnaNineth {
	width: 62px;
	border-right: solid 1px black;
}

.divColumnaNinethFiller {
	width: 58px;
}

.divColumnaMin {
	width: 15px;
	border-right: solid 1px black;
}

.divColumnaMinFiller {
	width: 13px;
}

.divColumnaDigit {
	width: 20px;
	border-right: solid 1px black;
	text-align: center;
}

.divColumnaDigitFiller {
	width: 24px;
	text-align: center;
}

.inputDepartamento {
	width: 120px;
}

.inputDia {
	width: 20px;
}

.inputMes {
	width: 60px;
}

.inputAno {
	width: 30px;
}

.inputNombre {
	width: 250px;
}

.inputDuracionContrato {
	width: 40px;
}

.inputClienteNombre {
	width: 247px;
}

.inputClienteApellido {
	width: 228px;
}

.inputClienteNombreEmpresa {
	width: 461px;
}

.inputClienteSexo {
	width: 58px;
}

.inputClienteFechaNacimiento {
	width: 68px;
}

.inputClienteTipoCliente {
	width: 31px;
}

.inputClienteActividad {
	width: 37px;
}

.inputClienteTelefonoContacto {
	width: 92px;
}

.inputMID {
	width: 229px;
}

.inputNumeroChip {
	width: 252px;
}

.inputMarca {
	width: 248px;
}

.inputNumeroSerie {
	width: 143px;
}

.inputModelo {
	width: 244px;
}

.inputCodigoBloqueo {
	width: 189px;
}

.inputDireccionCalle {
	width: 536px;
}

.inputDireccionNumero {
	width: 50px;
}

.inputDireccionBis {
	width: 72px;
}

.inputDireccionApto {
	width: 64px;
}

.inputDireccionBlock {
	width: 61px;
}

.inputDireccionManzana {
	width: 61px;
}

.inputDireccionSolar {
	width: 62px;
}

.inputDireccionLocalidad {
	width: 138px;
}

.inputDireccionDepartamento {
	width: 117px;
}

.inputDireccionCodigoPostal {
	width: 160px;
}

.inputDireccionObservaciones {
	width: 495px;
}

.inputUsuarioNombre {
	width: 235px;
}

.inputUsuarioApellido {
	width: 234px;
}

.inputUsuarioDocumento {
	width: 224px;
}

.inputUsuarioEmail {
	width: 187px;
}

.inputPlan {
	width: 161px;
}

.inputPromotor {
	width: 138px;
}

.inputAyudaEconomica {
	width: 94px;
}

.inputCantidadMinutos {
	width: 84px;
}

.inputDesde {
	width: 150px;
}

.inputHasta {
	width: 153px;
}

.inputMotivosCambioPlan {
	width: 100%;
	text-align: center
}

.textareaObservaciones {
	font-size: 7pt;
	width: 577px;
	height: 74px;
}

.inputAgenteVentaNombre {
	width: 144px;
}

.inputAgenteVentaCodigo {
	width: 148px;
}

.inputAgenteVentaSucursal {
	width: 138px;
}

.inputVendedorNombre {
	width: 129px;
}

.inputVendedorDocumento {
	width: 130px;
}

.inputControlCuentaBackoffice {
	width: 58px;
}

.inputControlCuentaCliente {
	width: 58px;
}

.divEspecificacionesTitulo {
	font-weight: bold;
	text-decoration: underline;
	width: 100%;
	text-align: center;
}

.inputEspecificacionesNumeroContrato {
	width: 60px;
}

.divEspecificacionesTituloInformacion {
	text-decoration: underline;
}

.inputEspecificacionesPlanComercial {
	width: 570px;
}

.inputEspecificacionesConsumoMinimo {
	width: 60px;
}

.inputEspecificacionesDuraccionContractual {
	width: 232px;
}

.inputEspecificacionesPrecioMinutoHorarioNormal {
	width: 20px;
}

.inputEspecificacionesPrecioMinutoHorarioReducido {
	width: 20px;
}

.inputEspecificacionesRendimientoMinutosAntelHorarioNormal {
	width: 20px;
}

.inputEspecificacionesRendimientoMinutosAntelHorarioReducido {
	width: 20px;
}

.inputEspecificacionesPrecioMinutoOtrasOperadoras {
	width: 20px;
}

.inputEspecificacionesRendimientoMinutosOtrasOperadoras {
	width: 20px;
}

.divEspecificacionesTituloParrafo {
	font-weight: bold;
}

.inputEspecificacionesPrecioSMS {
	width: 40px;
}

.inputEspecificacionesIncluyeParaNavegacionCelular {
	width: 40px;
}

.inputEspecificacionesConsumoFueraBono {
	width: 20px;
}

.inputEspecificacionesTopeFacturacionMensual {
	width: 50px;
}

.inputEspecificacionesDestinosGratis {
	width: 70px;
}

.inputEspecificacionesMinutosGratisMovil {
	width: 30px;
}

.inputEspecificacionesMinutosGratisCantidadCelulares {
	width: 20px;
}

.inputEspecificacionesSMSGratisMovil {
	width: 30px;
}

.inputEspecificacionesSMSGratisCantidadCelulares {
	width: 135px;
}

.inputEspecificacionesMinutosGratisFijo {
	width: 30px;
}

.inputEspecificacionesMinutosGratisCantidadFijos {
	width: 20px;
}

.inputEspecificacionesDepartamento {
	width: 90px;
}

.inputEspecificacionesDia {
	width: 20px;
}

.inputEspecificacionesMes {
	width: 60px;
}

.inputEspecificacionesAno {
	width: 30px;
}

.imgGarantiaLogo {
	width: 100%;
	margin-top: 5mm;
}

.divGarantiaTitulo {
	font-weight: bold;
}

.spanGarantiaTitulo {
	font-weight: bold;
	text-decoration: underline;
}

.spanGarantiaNegrita {
	font-weight: bold;
}

.inputGarantiaProductoMarca {
	width: 250px;
}

.inputGarantiaProductoModelo {
	width: 243px;
}

.inputGarantiaNumeroSerie {
	width: 233px;
}

.inputGarantiaNombreApellido {
	width: 195px;
}

.inputGarantiaMID {
	width: 254px;
}

.inputGarantiaDatosService {
	width: 100%;
	text-align: center;
}

.divA4SheetCambioPlan {
	background-image: url('./cambio_de_plan_comercial_siav.png');
	background-size: 197mm 277mm;
	color: transparent;
	display: none;
}

.divA4SheetCambioPlan .divA4SheetContent .divPageContent .divTabla {
	border-top: solid 1px transparent;
	border-left: solid 1px transparent;
	border-right: solid 1px transparent;
}

.divA4SheetCambioPlan .divA4SheetContent .divPageContent .divTabla .divFila {
	border-bottom: solid 1px transparent;
}

.divA4SheetCambioPlan .divA4SheetContent .divPageContent .divTabla .divFila .divColumnaHalf {
	width: 288px;
	border-right: solid 1px transparent;
}

.divA4SheetCambioPlan .divA4SheetContent .divPageContent .divTabla .divFila .divColumnaHalfFiller {
	width: 287px;
}

.inputCambioPlanFecha {
	width: 75px;
}

.inputCambioPlanClienteNombre {
	width: 261px;
}

.inputCambioPlanClienteDocumento {
	width: 250px;
}

.inputCambioPlanNumeroContrato {
	width: 238px;
}

.inputCambioPlanMid {
	width: 263px;
}

.inputCambioPlanPlan {
	width: 238px;
}

.inputCambioPlanNuevoPlan {
	width: 229px;
}

.inputCambioPlanMotivosCambioPlan {
	width: 649px;
}

.inputCambioPlanFechaVigencia {
	width: 649px;
}

.divCambioPlanCostosAsociados {
	float: left;
	height: 78px;
}

.inputCambioPlanPrecioChip {
	width: 56px;
}

.divCambioPlanConsideracionesGenerales {
	float: left;
	height: 175px;
}

.inputCambioPlanBackofficeNombre {
	width: 190px;
}