.divLayoutColumn {
	float: left;
	width: 50%;
	overflow: hidden;
}

.divLayoutColumnFull {
	float: left;
	width: 100%;
	overflow: hidden;
}

.divTabbedPanel {
	float: left;
	width: 99%;
}

.divTabHeader {
	float: left;
	width: 100%;
	height: 25px;
	overflow: hidden;
}

.divTabTitle {
	float: left;
	width: 174px;
	height: 23px;
	border-top: solid 1px black;
	border-left: solid 1px black;
	border-bottom: solid 1px black;
	text-align: center;
	cursor: pointer;
}

.divTabTitleSelected {
	float: left;
	width: 174px;
	height: 23px;
	border-top: solid 1px black;
	border-left: solid 1px black;
	border-bottom: solid 1px transparent;
	text-align: center;
	cursor: pointer;
}

.divTabTitleFiller {
	float: left;
	width: 100%;
	height: 23px;
	margin-right: -701px;
	border-top: solid 1px transparent;
	border-left: solid 1px black;
	border-bottom: solid 1px black;
}

.divTab {
	float: left;
	width: 100%;
	height: 145px;
	padding-top: 5px;
	padding-right: 1px;
	border-left: solid 1px black;
	border-bottom: solid 1px black;
	border-right: solid 1px black;
}

#selectNuevoPlan {
	width: 65%;
}

#selectMotivoCambioPlan {
	width: 32%;
}

#selectTipoProducto {
	width: 32%;
}

#selectModalidadVenta {
	width: 32%;
}

#selectEquipo {
	width: 65%;
}

#selectMoneda {
	width: 32%;
}

#selectFormaPago {
	width: 32%;
}

#divRealizarClearing {
	float: left;
	color: red;
	padding-left: 20px;
	padding-top: 2px;
}

#selectTarjetaCredito {
	width: 32%;
}

#selectCuotas {
	float: left;
	width: 25%;
}

#divLabelValorCuota {
	width: 90px;
}

#divValorCuota {
	float: left;
	width: 70px;
	margin-right: 0;
}

#inputValorCuota {
	width: 100%;
	text-align: right;
}

#selectTipoDocumento {
	width: 32%;
}

#inputNombre {
	width: 65%;
}

#inputApellido {
	width: 65%;
}

#selectSexo {
	width: 32%;
}

#inputEmail {
	width: 65%;
}

#selectDepartamento {
	width: 32%;
}

#selectBarrio {
	width: 65%;
}

#selectZona {
	width: 65%;
}

#selectTurno {
	width: 32%;
}

#selectFechaEntrega {
	width: 65%;
}

#selectAtencionClienteTipoContacto {
	width: 65%;
}

#selectRespuestaTecnicaComercial {
	width: 65%;
}

#divLabelObservaciones {
	height: 60px;
}

#divObservaciones {
	height: 60px;
}

#textareaObservaciones {
	width: 65%;
}

#divLabelResultadoEntregaDistribucionObservaciones {
	height: 60px;
}	

#divResultadoEntregaDistribucionObservaciones {
	height: 60px;
}

#textareaResultadoEntregaDistribucionObservaciones {
	width: 65%;
} 

#inputDireccionEntregaCalle {
	width: 84%;
}

#inputDireccionEntregaObservaciones {
	width: 84%;
}

#divDireccionEntregaNumero {
	margin-right: 0;
}

#inputDireccionFacturaCalle {
	width: 85%;
}

#divDireccionFacturaNumero {
	margin-right: 0;
}

#inputDireccionFacturaObservaciones {
	width: 85%;
}

.divGalleryLeft {
	float: left;
	width: 9%;
	height: 100%;
	cursor: pointer;
	text-align: center;
}

.divGalleryContent {
	float: left;
	width: 94%;
	height: 100%;
}

.imgGalleryActive {
	float: left;
	width: 100%;
}

.imgGalleryInactive {
	float: left;
	display: none;
	width: 100%;
}

.divGalleryRight {
	float: left;
	width: 9%;
	height: 100%;
	cursor: pointer;
	text-align: center;
}

#divTipoArchivoAdjunto {
	width: 35%;
	height: 25px;
}

#divAgregarAdjunto {
	width: 50%;
	height: 25px;
}

#inputAdjunto {
	width: 336px;
}

#inputAgregarAdjunto {
	background-image: url('/LogisticaWEB/images/add.png');
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
}

#divIFramePrint {
	display: none;
}

#divNumeroTramiteRelacionado {
	width: 35%;
	height: 25px;
}

#divAgregarContratoRelacionado {
	width: 50%;
	height: 25px;
}

#inputAgregarContratoRelacionado {
	background-image: url('/LogisticaWEB/images/add.png');
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
}