body {
	margin: 0px;
	background-color: white;
}

li {
	margin-bottom: 20px;
}

.divHeader {
	width: 100%;
	height: 15mm;
	text-align: center;
	font-size: 10pt;
	/*font-weight: bold;*/
	/* text-decoration: underline; */
}

.divHeaderFecha {
	float: left;
	width: 10%;
}

.divHeaderLogoANTEL {
	float: left;
	width: 80%;
	text-align: center;
}

.imgLogoANTEL {
	width: 25%;
}

.divHeaderContrato {
	float: left;
	width: 10%;
}

.divA4Sheet {
	font-size: 10pt;
	width: 197mm;
	height: 297mm;
	margin: auto;
	top: 0;
	left: 0;
	border: dotted 1px black;
	page-break-after: always;
	overflow: hidden;
}

.divA4SheetContent {
	width: 75%;
	margin: auto;
}

.divPageHeading {
	margin: auto;
	width: 80%;
	height: 60mm;
}

.divPageContent {
	margin: auto;
	width: 78%;
}

.divRow {
	float: left;
	width: 100%;
}

.divColumn {
	float: left;
	width: 100%;
	margin-top: 15px;
}

.divFormLabelPrint {
	font-size: 9pt;
	font-weight: bold;
	float: left;
	width: 85px;
	text-align: left;
	margin-left: 2px;
}

.divFormValuePrint {
	font-size: 9pt;
	float: left;
	width: 230px;
	text-align: left;
	margin-top: 2px;
}

.divQR {
	width: 60%;
	margin: auto;
}

.divBarCode {
	float: left;
	width: 300px;
	height: 200px;
	background-position: -5px 0px;
	background-repeat: no-repeat;
}

#imgNumeroTramiteBarCode {
	height: 100%;
}

#imgMidBarCode {
	height: 100%;
}

.divSquare  {
	width: 30%;
	height: 25px;
	margin: auto;
	border: solid 3px black;
	font-weight: bold;
	text-align: center;
}