.divLayoutColumn {
	float: left;
	width: 50%;
}

.divLayoutColumnFull {
	float: left;
	width: 100%;
}

.divTabbedPanel {
	float: left;
	width: 99%;
}

.divTabHeader {
	float: left;
	width: 780px;
}

.divTabTitle {
	float: left;
	width: 175px;
	height: 23px;
	border-top: solid 1px black;
	border-left: solid 1px black;
	border-bottom: solid 1px black;
	text-align: center;
	cursor: pointer;
}

.divTabTitleSelected {
	float: left;
	width: 175px;
	height: 23px;
	border-top: solid 1px black;
	border-left: solid 1px black;
	border-bottom: solid 1px transparent;
	text-align: center;
	cursor: pointer;
}

.divTabTitleFiller {
	float: left;
	width: 427px;
	height: 23px;
	border-top: solid 1px transparent;
	border-left: solid 1px black;
	border-bottom: solid 1px black;
}

.divTab {
	float: left;
	width: 779px;
	height: 145px;
	padding-top: 5px;
	border-left: solid 1px black;
	border-bottom: solid 1px black;
	border-right: solid 1px black;
}

#divMid {
	float: left;
	width: 60%;
}

#divNumeroTramite {
	float: left;
	width: 60%;
}

#divEstado {
	float: left;
	width: 60%;
}

#divFechaVenta {
	float: left;
	width: 60%;
}

#divLocalidad {
	float: left;
	width: 60%;
}

#divFechaVencimiento {
	float: left;
	width: 60%;
}

#divNumeroContrato {
	float: left;
	width: 60%;
}

#divPlan {
	float: left;
	width: 60%;
}

#divNuevoPlan {
	float: left;
	width: 60%;
}

#divEquipo {
	float: left;
	width: 60%;
}

#divNumeroSerie {
	float: left;
	width: 60%;
}

#divResultadoEntregaDistribucionObservaciones {
	float: left;
	width: 60%;
}

#textareaResultadoEntregaDistribucionObservaciones {
	width: 100%;
}

#divResultadoEntregaDistribucionDocumentos {
	float: left;
	width: 50%;
	height: 150px;
}

.divGalleryLeft {
	float: left;
	width: 9%;
	height: 100%;
	cursor: pointer;
	text-align: center;
}

.divGalleryContent {
	float: left;
	width: 80%;
	height: 100%;
}

.imgGalleryActive {
	float: left;
	width: 100%;
}

.imgGalleryInactive {
	float: left;
	display: none;
	width: 100%;
}

.divGalleryRight {
	float: left;
	width: 9%;
	height: 100%;
	cursor: pointer;
	text-align: center;
}

#divResultadoEntregaDistribucionURLAnverso {
	float: left;
	width: 50%;
}

#imgResultadoEntregaDistribucionURLAnverso {
	width: 100%;
}

#divResultadoEntregaDistribucionURLReverso {
	float: left;
	width: 50%;
}

#imgResultadoEntregaDistribucionURLReverso {
	width: 100%;
}

#divTipoDocumento {
	float: left;
	width: 60%;
}

#selectTipoDocumento {
	width: 53.5%;
}

#divDocumento {
	float: left;
	width: 60%;
}

#divNombre {
	float: left;
	width: 60%;
}

#inputNombre {
	width: 100%;
}

#divApellido {
	float: left;
	width: 60%;
}

#inputApellido {
	width: 100%;
}

#divSexo {
	float: left;
	width: 60%;
}

#selectSexo {
	width: 53.5%;
}

#divNumeroFactura {
	float: left;
	width: 60%;
}

#divNumeroFacturaRiverGreen {
	float: left;
	width: 60%;
}

#divDireccionFactura {
	float: left;
	width: 60%;
}

#inputDireccionFactura {
	width: 100%;
}

#divDireccionEntrega {
	float: left;
	width: 60%;
}

#inputDireccionEntrega {
	width: 100%;
}

#divTelefonoContacto {
	float: left;
	width: 60%;
}

#divEmail {
	float: left;
	width: 60%;
}

#inputEmail {
	width: 100%;
}

#divPrecio {
	float: left;
	width: 60%;
}

#divDepartamento {
	float: left;
	width: 60%;
}

#selectDepartamento {
	width: 53.5%;
}

#divBarrio {
	float: left;
	width: 61.5%;
}

#selectBarrio {
	width: 100%;
}

#divZona {
	float: left;
	width: 61.5%;
}

#selectZona {
	width: 100%;
}

#divTurno {
	float: left;
	width: 61.5%;
}

#selectTurno {
	width: 100%;
}

#divFechaEntrega {
	float: left;
	width: 61.5%;
}

#selectFechaEntrega {
	width: 100%;
}

#divObservaciones {
	float: left;
	width: 60%;
	height: 57px;
}

#textareaObservaciones {
	width: 100%;
}

#divDireccionFacturaCalle {
	width: 80%;
}

#inputDireccionFacturaCalle {
	width: 100%;
}

#divDireccionFacturaObservaciones {
	width: 80%;
}

#inputDireccionFacturaObservaciones {
	width: 100%;
}

#divDireccionEntregaCalle {
	width: 80%;
}

#inputDireccionEntregaCalle {
	width: 100%;
}

#divDireccionEntregaObservaciones {
	width: 80%;
}

#inputDireccionEntregaObservaciones {
	width: 100%;
}

#divIFramePrint {
	display: none;
}