body {
	height: 100%;
}

table tbody tr td div {
	overflow: hidden;
	white-space: nowrap;
}

#divTipoRegistro {
	float: left;
}

#divTamanoMuestra {
	float: left;
	width: 150px;
	height: 20px;
}

#divTamanoSubconjunto {
	float: left;
	width: 55%;
	height: 20px;
}

#divAgregarFiltroContainer {
	width: 100%;
	height: 24px;
	float: left;
}

#divAgregarFiltro {
	float: left;
	width: 50%;
	height: 24px;
}

#divFiltros {
	float: left;
	width: 100%;
}

#divIFrameSeleccionEmpresa {
	position: absolute;
	top: 50px;
	left: 100px;
	width: 400px;
	height: 300px;
	z-index: 3;
	border: solid 1px black;
	background-color: #F0F0F0;
}

#iFrameSeleccionEmpresa {
	width: 400px;
	height: 300px;
	border: none;
}

#divSeleccionEmpresa {
	padding-left: 8px;
	padding-right: 8px;
	width: 95%;
	background-color: #F0F0F0;
}

#divObservaciones {
	float: left;
	width: 60%;
}

#textareaObservaciones {
	width: 100%;
}