#inputPuntoVentaNombre {
	width: 60%;
}

#selectPuntoVentaEstado {
	width: 30%;
}

#inputPuntoVentaDireccion {
	width: 60%;
}

#inputPuntoVentaContacto {
	width: 60%;
}

#selectPuntoVentaDepartamento {
	width: 30%;
}

#selectPuntoVentaBarrio {
	width: 60%;
}

#inputBusqueda {
	width: 200px;
}

#divMapa {
	width: 325px;
	height: 300px;
	margin-left: 125px;
}