#divUsuarioLogin {
	float: left;
	width: 90%;
}

#divContrasenaActual {
	float: left;
	width: 90%;
}

#divNuevaContrasena {
	float: left;
	width: 90%;
}

#divConfirmaContrasena {
	float: left;
	width: 90%;
}