<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>LogisticaWEB</display-name>
  <welcome-file-list>
    <welcome-file>main.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
	<servlet-name>QuartzInitializer</servlet-name>
	<servlet-class>org.quartz.ee.servlet.QuartzInitializerServlet</servlet-class>

	<init-param>
		<param-name>shutdown-on-unload</param-name>
		<param-value>true</param-value>
	</init-param>
	<init-param>
		<param-name>start-scheduler-on-load</param-name>
		<param-value>true</param-value>
	</init-param>
	<init-param>
		<param-name>config-file</param-name>
		<param-value>quartz.properties</param-value>
	</init-param>
	<load-on-startup>2</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>BarcodeServlet</servlet-name>
    <servlet-class>uy.com.amensg.logistica.servlets.BarcodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BarcodeServlet</servlet-name>
    <url-pattern>/Barcode</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>JobInitializerServlet</servlet-name>
	<servlet-class>uy.com.amensg.logistica.servlets.JobInitializerServlet</servlet-class>

	<load-on-startup>3</load-on-startup>
  </servlet>
  
  <servlet>
  	<servlet-name>DownloadServlet</servlet-name>
  	<servlet-class>uy.com.amensg.logistica.servlets.DownloadServlet</servlet-class>  	
  </servlet>
  <servlet-mapping>
  	<servlet-name>DownloadServlet</servlet-name>
  	<url-pattern>/Download</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>StreamingServlet</servlet-name>
  	<servlet-class>uy.com.amensg.logistica.servlets.StreamingServlet</servlet-class>  	
  </servlet>
  <servlet-mapping>
  	<servlet-name>StreamingServlet</servlet-name>
  	<url-pattern>/Stream</url-pattern>
  </servlet-mapping>
  
  <filter>
		<filter-name>SeguridadFilter</filter-name>
		<filter-class>uy.com.amensg.logistica.filters.SeguridadFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SeguridadFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  
  <servlet>
  	<servlet-name>UploadServlet</servlet-name>
  	<servlet-class>uy.com.amensg.logistica.servlets.UploadServlet</servlet-class>  	
  </servlet>
  <servlet-mapping>
  	<servlet-name>UploadServlet</servlet-name>
  	<url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  
  <session-config>
  	<session-timeout>60</session-timeout>
  </session-config>
  
  <listener>
  	<listener-class>uy.com.amensg.logistica.listeners.SessionExpirationListener</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>classes</param-name>
      <param-value>
      	uy.com.amensg.logistica.dwr.ACMInterfaceContratoDWR,
      	uy.com.amensg.logistica.dwr.ACMInterfaceListaNegraDWR,
      	uy.com.amensg.logistica.dwr.ACMInterfaceMidDWR,
      	uy.com.amensg.logistica.dwr.ACMInterfacePrepagoDWR,
      	uy.com.amensg.logistica.dwr.ACMInterfaceProcesoDWR,
      	uy.com.amensg.logistica.dwr.BarrioDWR,
      	uy.com.amensg.logistica.dwr.ConfigurationDWR,
      	uy.com.amensg.logistica.dwr.ContratoDWR,
      	uy.com.amensg.logistica.dwr.ContratoRoutingHistoryDWR,
      	uy.com.amensg.logistica.dwr.DepartamentoDWR,
      	uy.com.amensg.logistica.dwr.DisponibilidadEntregaEmpresaZonaTurnoDWR,
      	uy.com.amensg.logistica.dwr.EmpresaDWR,
      	uy.com.amensg.logistica.dwr.EstadoDWR,
      	uy.com.amensg.logistica.dwr.FileManagerDWR,
      	uy.com.amensg.logistica.dwr.MenuDWR,
      	uy.com.amensg.logistica.dwr.MetadataConsultaDWR,
      	uy.com.amensg.logistica.dwr.ProductoDWR,
      	uy.com.amensg.logistica.dwr.ResultadoEntregaDistribucionDWR,
      	uy.com.amensg.logistica.dwr.RolDWR,
      	uy.com.amensg.logistica.dwr.SeguridadDWR,
      	uy.com.amensg.logistica.dwr.StockMovimientoDWR,
      	uy.com.amensg.logistica.dwr.StockTipoMovimientoDWR,
      	uy.com.amensg.logistica.dwr.TurnoDWR,
      	uy.com.amensg.logistica.dwr.UsuarioDWR,
      	uy.com.amensg.logistica.dwr.UsuarioRolEmpresaDWR,
      	uy.com.amensg.logistica.dwr.ZonaDWR,
      	 
      	uy.com.amensg.logistica.entities.ArchivoTO,
      	uy.com.amensg.logistica.entities.ACMInterfaceContratoTO,
      	uy.com.amensg.logistica.entities.ACMInterfaceListaNegraTO,
      	uy.com.amensg.logistica.entities.ACMInterfaceMidTO,
      	uy.com.amensg.logistica.entities.ACMInterfacePrepagoTO,
      	uy.com.amensg.logistica.entities.ACMInterfaceProcesoEstadisticaTO,
      	uy.com.amensg.logistica.entities.BarrioTO,
      	uy.com.amensg.logistica.entities.ContratoTO,
      	uy.com.amensg.logistica.entities.ContratoRoutingHistoryTO,
      	uy.com.amensg.logistica.entities.DepartamentoTO,
      	uy.com.amensg.logistica.entities.DisponibilidadEntregaEmpresaZonaTurnoTO,
      	uy.com.amensg.logistica.entities.EmpresaTO,
      	uy.com.amensg.logistica.entities.EstadoTO,
      	uy.com.amensg.logistica.entities.MenuTO,
      	uy.com.amensg.logistica.entities.MetadataCondicionTO,
      	uy.com.amensg.logistica.entities.MetadataConsultaTO,
      	uy.com.amensg.logistica.entities.MetadataConsultaResultadoTO,
      	uy.com.amensg.logistica.entities.MetadataOrdenacionTO,
      	uy.com.amensg.logistica.entities.ProductoTO,
      	uy.com.amensg.logistica.entities.ResultadoEntregaDistribucionTO,
      	uy.com.amensg.logistica.entities.RolTO,
      	uy.com.amensg.logistica.entities.StockMovimientoTO,
      	uy.com.amensg.logistica.entities.StockTipoMovimientoTO,
      	uy.com.amensg.logistica.entities.TipoContratoTO,
      	uy.com.amensg.logistica.entities.TurnoTO,
      	uy.com.amensg.logistica.entities.UsuarioTO,
      	uy.com.amensg.logistica.entities.UsuarioRolEmpresaTO,
      	uy.com.amensg.logistica.entities.ZonaTO,
      </param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>
</web-app>