#inputZonaNombre {
	width: 70%;
}

#inputZonaDetalle {
	width: 70%;
}

#selectDepartamento {
	width: 35%;
}

#divDisponibilidadEntrega {
	height: 200px;
}

.divTitulo {
	float: left;
	width: 100%;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.divColumnTurno {
	float: left;
	width: 35%;
}

.divCheckbox {
	float: left;
	width: 30px;
}

.divInput {
	float: left;
	width: 50px;
}

.inputCantidad {
	width: 100%;
}