#divZonaNombre {
	float: left;
	width: 70%;
}

#inputZonaNombre {
	margin-left: 2px;
	width: 100%;
}

#divZonaDetalle {
	float: left;
	width: 70%;
}

#inputZonaDetalle {
	margin-left: 2px;
	width: 100%;
}

#divDepartamento {
	float: left;
	margin-top: 2px;
	margin-left: 2px;
	width: 70%;
}

#selectDepartamento {
	width: 60%;
}

#divDisponibilidadEntrega {
	float: left;
	width: 70%;
}

.divTitulo {
	float: left;
	width: 100%;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.divColumnTurno {
	float: left;
	width: 50%;
}

.divCheckbox {
	float: left;
	width: 30px;
}

.divInput {
	float: left;
	width: 50px;
}

.inputCantidad {
	width: 100%;
}