#divTasaInteresEfectivaAnualCuotasHasta {
	width: 200px;
}

#divTasaInteresEfectivaAnualCuotasHastaMax {
	width: 30px;
}

#divTasaInteresEfectivaAnualMontoHasta {
	width: 200px;
}

#divTasaInteresEfectivaAnualMontoHastaMax {
	width: 30px;
}