.divFiltros {
	float: left;
	width: 1360px;
	border-left: solid 1px #979797;
	border-right: solid 1px #979797;
	padding-left: 5px;
}

.divLabelTamanoMuestra {
	float: left;
	width: 100px;
	height: 30px;
	text-align: right;
	margin-top: 2px;
}

.divTamanoMuestra {
	float: left;
	width: 120px;
	height: 30px;
	margin-top: 2px;
}

.inputTamanoMuestra {
	width: 50%;
}

.divLabelTamanoSubconjunto {
	float: left;
	width: 100px;
	height: 30px;
	text-align: right;
	margin-top: 2px;
}

.divTamanoSubconjunto {
	float: left;
	width: 120px;
	height: 30px;
	margin-top: 2px;
}

.inputTamanoSubconjunto {
	width: 50%;
}

.divLabelFiltros {
	float: left;
	width: 100px;
	height: 30px;
	text-align: right;
	margin-top: 2px;
}

.divAgregarFiltroContainer {
	width: 100%;
	height: 32px;
	float: left;
	padding-top: 10px;
}

.divAgregarFiltro {
	float: left;
	width: 25px;
	height: 24px;
}

.inputAgregarFiltro {
	background-image: url('/LogisticaWEB/images/filter_add.png');
	background-repeat: no-repeat;
	background-position: center;
}

.divLimpiarFiltros {
	float: left;
	width: 25px;
	height: 24px;
}

.inputLimpiarFiltros {
	background-image: url('/LogisticaWEB/images/broom.png');
	background-repeat: no-repeat;
	background-position: center;
}

.divSeleccionarColumnas {
	float: left;
	width: 25px;
	height: 24px;
}

.inputSeleccionarColumnas {
	background-image: url('/LogisticaWEB/images/table_gear.png');
	background-repeat: no-repeat;
	background-position: center;
}

.divIFrameSeleccionColumnas {
	display: none;
	position: relative;
	top: -22px;
	left: 22px;
	width: 300px;
	height: 300px;
	z-index: 3;
	border: solid 1px black;
	background-color: #F0F0F0;
}

.divSeleccionColumnas {
	position: absolute;
	top: 21px;
	left: 0;
	padding-left: 8px;
	padding-right: 8px;
	width: 94%;
	background-color: #F0F0F0;
}

.divSeleccionColumnasTitulo {
	float: left;
	width: 100%;
	text-align: center;
}

.divSeleccionColumnasLista {
	float: left;
	width: 100%;
	height: 240px;
	overflow: auto;
}

.divSeleccionColumna {
	float: left;
	width: 100%;
	height: 24px;
}

.divSeleccionColumnasCampo {
	float: left;
	width: 88%;
}

.divSeleccionColumnasCampoCheck {
	float: left;
	width: 10%;
}

.divSeleccionColumnasBotonera {
	float: left;
	width: 100%;
	height: 25px;
	text-align: right;
}

.inputSeleccionColumnasAceptar {
	background-image: url('/LogisticaWEB/images/tick.png');
	background-repeat: no-repeat;
	background-position: center;
}

.divFiltro {
	float: left;
	width: 100%;
	overflow: auto;
}

.divQuitarFiltro {
	float: left;
	width: 45px;
}

.inputQuitarFiltro {
	background-image: url('/LogisticaWEB/images/filter_delete.png');
	background-repeat: no-repeat;
	background-position: center;
}

.inputQuitarFiltroDisabled {
	background-image: url('/LogisticaWEB/images/filter_delete_disabled.png');
}

.divLabelCampo {
	float: left;
	width: 55px;
	height: 30px;
	text-align: right;
	margin-top: 2px;
}

.divCampo {
	float: left;
	height: 32px;
	width: 200px;
}

.selectCampo {
	width: 100%;
}

.divLabelCondicion {
	float: left;
	width: 100px;
	height: 30px;
	text-align: right;
	margin-top: 2px;
}

.divCondicion {
	float: left;
	height: 32px;
	width: 120px;
}

.selectCondicion {
	width: 100%;
}

.divLabelCondicionValor {
	float: left;
	width: 100px;
	height: 30px;
	text-align: right;
	margin-top: 2px;
}

.divCondicionValores {
	float: left;
	height: 32px;
}

.divCondicionValoresMultiples {
	float: left;
}

.divValor {
	float: left;
	width: 120px;
}

.inputValor {
	width: 80%;
}

.selectValor {
	width: 100%;
}


.divValorMin {
	float: left;
	width: 120px;
	height: 32px;
}

.inputValorMin {
	width: 80%;
}

.divValorMax {
	float: left;
	width: 120px;
	height: 32px;
}

.inputValorMax {
	width: 80%;
}

.divValoresMultiples {
	float: left;
	width: 125px;
	height: 75px;
	background-color: white;
	border: solid 1px #7F9DB9;
	overflow: auto;
}

.divValorMultiple {
	cursor: pointer;
	background-image: url('/LogisticaWEB/images/bullet_toggle_minus.png');
	background-repeat: no-repeat;
	background-position: right;
}

.divFiltrosHandle {
	float: left;
	height: 30px;
}

.divFiltrosHandleLeft {
	float: left;
	height: 100%;
}

.divFiltrosHandleLeftTop {
	float: left;
	width: 100%;
	height: 70%;
	border-bottom: solid 1px #979797;
}

.divFiltrosHandleLeftBottom {
	float: left;
	width: 100%;
	height: 30%;
	border-top: solid 2px white;
	border-left: solid 1px #979797;
}

.divFiltrosHandleCenter {
	float: left;
	width: 100px;
	height: 100%;
	text-align: center;
	cursor: pointer;
	border-top: solid 1px #979797;
}

.divFiltrosHandleCenterTop {
	float: left;
	width: 99%;
	height: 62%;
	border-top: solid 2px white;
	border-left: solid 1px #979797;
	border-right: solid 1px #979797;
}

.divFiltrosHandleCenterTopLine {
	background-color: #777777;
	float: left;
	width: 50%;
	height: 1px;
	border-bottom: solid 2px white;
	margin-left: 25%;
	margin-top: 3px;
}

.divFiltrosHandleCenterBottom {
	float: left;
	width: 98%;
	height: 35%;
}

.divFiltrosHandleRight {
	float: left;
	height: 100%;
}

.divFiltrosHandleRightTop {
	float: left;
	width: 100%;
	height: 70%;
	border-bottom: solid 1px #979797;
}

.divFiltrosHandleRightBottom {
	float: left;
	width: 100%;
	height: 30%;
	border-top: solid 2px white;
	border-right: solid 1px #979797;
}