.divTable {
	float: left;
	height: 314px;
	border: solid 1px #979797;
	background-color: white;
}

.divTableHeader {
	float: left;
}

.divTableHeaderRow {
	float: left;
}

.divTableHeaderDetailRow {
	float: left;
	padding-left: 15px;
}

.divTableHeaderCellContent {
	height: 100%;
}

.divTableHeaderCellMenu {
	float: right;
	width: 18px;
	border-left: solid 1px #E0E0E0;
	background-color: #F3F4F6;
	height: 100%;
}

.divTableHeaderCellMenu:hover {
	float: right;
	width: 18px;
	background-color: #AAAAAA;
}

.divTableHeaderCellText {
	float: left;
	width: 33px;
	height: 100%;
	white-space: nowrap;
	margin-left: 2px;
}

.divTableHeaderMenu {
	border: solid 1px black;
	background-color: white;
	
	position: absolute;
	margin-top: 18px;
	
	height: 50px;
	display: none;
}

.divTableHeaderCell {
	float: left;
	height: 18px;
	
	font-family: Segoe UI;
	font-size: 9pt;
	
	text-align: center;
	background-color: #F3F4F6;
	
	border-bottom: solid 1px #D5D5D5;
	border-right: solid 1px #D5D5D5;
	
	cursor: pointer;
}

.divTableHeaderCell1NOO {
	float: left;
	width: 55px;
	
	font-family: Segoe UI;
	font-size: 9pt;
	
	background-color: #F3F4F6;
	
	border-bottom: solid 1px #D5D5D5;
	border-right: solid 1px #D5D5D5;
	
	cursor: pointer;
}

.divTableHeaderCell2NOO {
	float: left;
	width: 110px;
	
	font-family: Segoe UI;
	font-size: 9pt;
	
	background-color: #F3F4F6;
	
	border-bottom: solid 1px #D5D5D5;
	border-right: solid 1px #D5D5D5;
	
	cursor: pointer;
}

.divTableHeaderCell3NOO {
	float: left;
	width: 65px;
	
	font-family: Segoe UI;
	font-size: 9pt;
	
	background-color: #F3F4F6;
	
	border-bottom: solid 1px #D5D5D5;
	border-right: solid 1px #D5D5D5;
	
	cursor: pointer;
}

.divTableHeaderCell4NOO {
	float: left;
	width: 85px;
	
	font-family: Segoe UI;
	font-size: 9pt;
	
	background-color: #F3F4F6;
	
	border-bottom: solid 1px #D5D5D5;
	border-right: solid 1px #D5D5D5;
	
	cursor: pointer;
}

.divTableHeaderCell5NOO {
	float: left;
	width: 65px;
	
	font-family: Segoe UI;
	font-size: 9pt;
	
	background-color: #F3F4F6;
	
	border-bottom: solid 1px #D5D5D5;
	border-right: solid 1px #D5D5D5;
	
	cursor: pointer;
}

.divTableHeaderCell6NOO {
	float: left;
	width: 110px;
	
	font-family: Segoe UI;
	font-size: 9pt;
	
	background-color: #F3F4F6;
	
	border-bottom: solid 1px #D5D5D5;
	border-right: solid 1px #D5D5D5;
	
	cursor: pointer;
}

.divTableHeaderCell7NOO {
	float: left;
	width: 110px;
	
	font-family: Segoe UI;
	font-size: 9pt;
	
	background-color: #F3F4F6;
	
	border-bottom: solid 1px #D5D5D5;
	border-right: solid 1px #D5D5D5;
	
	cursor: pointer;
}

.divTableHeaderCell8NOO {
	float: left;
	width: 55px;
	
	font-family: Segoe UI;
	font-size: 9pt;
	
	background-color: #F3F4F6;
	
	border-bottom: solid 1px #D5D5D5;
	border-right: solid 1px #D5D5D5;
	
	cursor: pointer;
}

.divTableHeaderCell7NOO {
	float: left;
	width: 110px;
	
	font-family: Segoe UI;
	font-size: 9pt;
	
	background-color: #F3F4F6;
	
	border-bottom: solid 1px #D5D5D5;
	border-right: solid 1px #D5D5D5;
	
	cursor: pointer;
}

.divTableHeaderCell8NOO {
	float: left;
	width: 55px;
	
	font-family: Segoe UI;
	font-size: 9pt;
	
	background-color: #F3F4F6;
	
	border-bottom: solid 1px #D5D5D5;
	border-right: solid 1px #D5D5D5;
	
	cursor: pointer;
}

.divTableHeaderCell9NOO {
	float: left;
	width: 55px;
	
	font-family: Segoe UI;
	font-size: 9pt;
	
	background-color: #F3F4F6;
	
	border-bottom: solid 1px #D5D5D5;
	border-right: solid 1px #D5D5D5;
	
	cursor: pointer;
}

.divTableHeaderCell10NOO {
	float: left;
	width: 15px;
	
	font-family: Segoe UI;
	font-size: 9pt;
	
	background-color: #F3F4F6;
	
	border-bottom: solid 1px #D5D5D5;
	border-right: solid 1px #D5D5D5;
}

.divTableHeaderCell1ASC {
	float: left;
	width: 55px;
	background-image: url('/LogisticaWEB/images/bullet_arrow_up.png');
	background-repeat: no-repeat;
	background-position: right;
	
	font-family: Segoe UI;
	font-size: 9pt;
	
	background-color: #F3F4F6;
	
	border-bottom: solid 1px #D5D5D5;
	border-right: solid 1px #D5D5D5;
	
	cursor: pointer;
}

.divTableHeaderCell2ASC {
	float: left;
	width: 110px;
	background-image: url('/LogisticaWEB/images/bullet_arrow_up.png');
	background-repeat: no-repeat;
	background-position: right;
	
	font-family: Segoe UI;
	font-size: 9pt;
	
	background-color: #F3F4F6;
	
	border-bottom: solid 1px #D5D5D5;
	border-right: solid 1px #D5D5D5;
	
	cursor: pointer;
}

.divTableHeaderCell3ASC {
	float: left;
	width: 65px;
	background-image: url('/LogisticaWEB/images/bullet_arrow_up.png');
	background-repeat: no-repeat;
	background-position: right;
	
	font-family: Segoe UI;
	font-size: 9pt;
	
	background-color: #F3F4F6;
	
	border-bottom: solid 1px #D5D5D5;
	border-right: solid 1px #D5D5D5;
	
	cursor: pointer;
}

.divTableHeaderCell4ASC {
	float: left;
	width: 85px;
	background-image: url('/LogisticaWEB/images/bullet_arrow_up.png');
	background-repeat: no-repeat;
	background-position: right;
	
	font-family: Segoe UI;
	font-size: 9pt;
	
	background-color: #F3F4F6;
	
	border-bottom: solid 1px #D5D5D5;
	border-right: solid 1px #D5D5D5;
	
	cursor: pointer;
}

.divTableHeaderCell5ASC {
	float: left;
	width: 65px;
	background-image: url('/LogisticaWEB/images/bullet_arrow_up.png');
	background-repeat: no-repeat;
	background-position: right;
	
	font-family: Segoe UI;
	font-size: 9pt;
	
	background-color: #F3F4F6;
	
	border-bottom: solid 1px #D5D5D5;
	border-right: solid 1px #D5D5D5;
	
	cursor: pointer;
}

.divTableHeaderCell6ASC {
	float: left;
	width: 110px;
	background-image: url('/LogisticaWEB/images/bullet_arrow_up.png');
	background-repeat: no-repeat;
	background-position: right;
	
	font-family: Segoe UI;
	font-size: 9pt;
	
	background-color: #F3F4F6;
	
	border-bottom: solid 1px #D5D5D5;
	border-right: solid 1px #D5D5D5;
	
	cursor: pointer;
}

.divTableHeaderCell7ASC {
	float: left;
	width: 110px;
	background-image: url('/LogisticaWEB/images/bullet_arrow_up.png');
	background-repeat: no-repeat;
	background-position: right;
	
	font-family: Segoe UI;
	font-size: 9pt;
	
	background-color: #F3F4F6;
	
	border-bottom: solid 1px #D5D5D5;
	border-right: solid 1px #D5D5D5;
	
	cursor: pointer;
}

.divTableHeaderCell8ASC {
	float: left;
	width: 55px;
	background-image: url('/LogisticaWEB/images/bullet_arrow_up.png');
	background-repeat: no-repeat;
	background-position: right;
	
	font-family: Segoe UI;
	font-size: 9pt;
<<<<<<< HEAD
	
	background-color: #F3F4F6;
	
	border-bottom: solid 1px #D5D5D5;
	border-right: solid 1px #D5D5D5;
	
	cursor: pointer;
}

.divTableHeaderCell9ASC {
	float: left;
	width: 55px;
	background-image: url('/LogisticaWEB/images/bullet_arrow_up.png');
	background-repeat: no-repeat;
	background-position: right;
	
	font-family: Segoe UI;
	font-size: 9pt;
=======
>>>>>>> branch 'master' of https://github.com/batliber/Logistica.git
	
	background-color: #F3F4F6;
	
	border-bottom: solid 1px #D5D5D5;
	border-right: solid 1px #D5D5D5;
	
	cursor: pointer;
}

.divTableHeaderCell1DES {
	float: left;
	width: 55px;
	background-image: url('/LogisticaWEB/images/bullet_arrow_down.png');
	background-repeat: no-repeat;
	background-position: right;
	
	font-family: Segoe UI;
	font-size: 9pt;
	
	background-color: #F3F4F6;
	
	border-bottom: solid 1px #D5D5D5;
	border-right: solid 1px #D5D5D5;
	
	cursor: pointer;
}

.divTableHeaderCell2DES {
	float: left;
	width: 110px;
	background-image: url('/LogisticaWEB/images/bullet_arrow_down.png');
	background-repeat: no-repeat;
	background-position: right;
	
	font-family: Segoe UI;
	font-size: 9pt;
	
	background-color: #F3F4F6;
	
	border-bottom: solid 1px #D5D5D5;
	border-right: solid 1px #D5D5D5;
	
	cursor: pointer;
}

.divTableHeaderCell3DES {
	float: left;
	width: 65px;
	background-image: url('/LogisticaWEB/images/bullet_arrow_down.png');
	background-repeat: no-repeat;
	background-position: right;
	
	font-family: Segoe UI;
	font-size: 9pt;
	
	background-color: #F3F4F6;
	
	border-bottom: solid 1px #D5D5D5;
	border-right: solid 1px #D5D5D5;
	
	cursor: pointer;
}

.divTableHeaderCell4DES {
	float: left;
	width: 85px;
	background-image: url('/LogisticaWEB/images/bullet_arrow_down.png');
	background-repeat: no-repeat;
	background-position: right;
	
	font-family: Segoe UI;
	font-size: 9pt;
	
	background-color: #F3F4F6;
	
	border-bottom: solid 1px #D5D5D5;
	border-right: solid 1px #D5D5D5;
	
	cursor: pointer;
}

.divTableHeaderCell5DES {
	float: left;
	width: 65px;
	background-image: url('/LogisticaWEB/images/bullet_arrow_down.png');
	background-repeat: no-repeat;
	background-position: right;
	
	font-family: Segoe UI;
	font-size: 9pt;
	
	background-color: #F3F4F6;
	
	border-bottom: solid 1px #D5D5D5;
	border-right: solid 1px #D5D5D5;
	
	cursor: pointer;
}

.divTableHeaderCell6DES {
	float: left;
	width: 110px;
	background-image: url('/LogisticaWEB/images/bullet_arrow_down.png');
	background-repeat: no-repeat;
	background-position: right;
	
	font-family: Segoe UI;
	font-size: 9pt;
	
	background-color: #F3F4F6;
	
	border-bottom: solid 1px #D5D5D5;
	border-right: solid 1px #D5D5D5;
	
	cursor: pointer;
}

.divTableHeaderCell7DES {
	float: left;
	width: 110px;
	background-image: url('/LogisticaWEB/images/bullet_arrow_down.png');
	background-repeat: no-repeat;
	background-position: right;
	
	font-family: Segoe UI;
	font-size: 9pt;
	
	background-color: #F3F4F6;
	
	border-bottom: solid 1px #D5D5D5;
	border-right: solid 1px #D5D5D5;
	
	cursor: pointer;
}

.divTableHeaderCell8DES {
	float: left;
	width: 55px;
	background-image: url('/LogisticaWEB/images/bullet_arrow_down.png');
	background-repeat: no-repeat;
	background-position: right;
	
	font-family: Segoe UI;
	font-size: 9pt;
<<<<<<< HEAD
	
	background-color: #F3F4F6;
	
	border-bottom: solid 1px #D5D5D5;
	border-right: solid 1px #D5D5D5;
	
	cursor: pointer;
}

.divTableHeaderCell9DES {
	float: left;
	width: 55px;
	background-image: url('/LogisticaWEB/images/bullet_arrow_down.png');
	background-repeat: no-repeat;
	background-position: right;
	
	font-family: Segoe UI;
	font-size: 9pt;
=======
>>>>>>> branch 'master' of https://github.com/batliber/Logistica.git
	
	background-color: #F3F4F6;
	
	border-bottom: solid 1px #D5D5D5;
	border-right: solid 1px #D5D5D5;
	
	cursor: pointer;
}

.divTableBody {
	float: left;
	overflow: auto;
	height: 277px;
}

.divTableBodyCover {
	height: 277px;
	position: absolute;
	margin-top: 18px;
	background-color: rgba(50, 50, 50, 0.1);
	text-align: center;
	display: none;
}

.imgTableBodyCoverLoading {
	width: 200px;
	height: 15px;
	margin-top: 100px;
	margin-left: -100px;
	position: absolute;
}

.divTableBodyRow {
	float: left;
}

.divTableBodyDetailRow {
	float: left;
	padding-left: 15px;
}

.divTableBodyCell1 {
	float: left;
	text-align: right;
	padding-right: 2px;
	width: 53px;
	overflow: hidden;
	white-space: nowrap;
	
	border-right: solid 1px #EBF4FE;
}

.divTableBodyCell2 {
	float: left;
	text-align: left;
	padding-left: 2px;
	width: 108px;
	overflow: hidden;
	white-space: nowrap;
	
	border-right: solid 1px #EBF4FE;
}

.divTableBodyCell3 {
	float: left;
	text-align: center;
	padding-left: 1px;
	padding-right: 1px;
	width: 63px;
	overflow: hidden;
	white-space: nowrap;
	
	border-right: solid 1px #EBF4FE;
}

.divTableBodyCell4 {
	float: left;
	text-align: center;
	padding-left: 1px;
	padding-right: 1px;
	width: 83px;
	overflow: hidden;
	white-space: nowrap;
	
	border-right: solid 1px #EBF4FE;
}

.divTableBodyCell5 {
	float: left;
	text-align: center;
	padding-left: 1px;
	padding-right: 1px;
	width: 63px;
	overflow: hidden;
	white-space: nowrap;
	
	border-right: solid 1px #EBF4FE;
}

.divTableBodyCell6 {
	float: left;
	text-align: left;
	padding-left: 2px;
	width: 108px;
	overflow: hidden;
	white-space: nowrap;
	
	border-right: solid 1px #EBF4FE;
}

.divTableBodyCell7 {
	float: left;
	text-align: left;
	padding-left: 2px;
	width: 108px;
	overflow: hidden;
	white-space: nowrap;
	
	border-right: solid 1px #EBF4FE;
}

.divTableBodyCell8 {
	float: left;
	text-align: right;
	padding-right: 2px;
	width: 53px;
	overflow: hidden;
	white-space: nowrap;
	
	border-right: solid 1px #EBF4FE;
}

<<<<<<< HEAD
.divTableBodyCell9 {
	float: left;
	text-align: left;
	padding-left: 2px;
	width: 53px;
	overflow: hidden;
	white-space: nowrap;
	
	border-right: solid 1px #EBF4FE;
}

.divTableBodyCell10 {
	float: left;
	text-align: left;
	padding-left: 2px;
	width: 13px;
	overflow: hidden;
	white-space: nowrap;
	
	border-right: solid 1px #EBF4FE;
	
	background-image: url('/LogisticaWEB/images/toggle-small-expand.png')
}

.divTableBodyCell10Open {
	float: left;
	text-align: left;
	padding-left: 2px;
	width: 13px;
	overflow: hidden;
	white-space: nowrap;
	
	border-right: solid 1px #EBF4FE;
	
	background-image: url('/LogisticaWEB/images/toggle-small.png')
}

=======
>>>>>>> branch 'master' of https://github.com/batliber/Logistica.git
.divTableFooter {
	float: left;
	overflow: auto;
}

.divTableFooterRow {
	float: left;
}

.divTableFooterCell {
	float: left;
	height: 18px;
	
	font-family: Segoe UI;
	font-size: 9pt;
	
	text-align: center;
	background-color: #F3F4F6;
	
	border-top: solid 1px #D5D5D5;
	border-right: solid 1px #D5D5D5;
}

#divCantidadRegistrosLabel {
	width: 120px;
	text-align: left;
}

#divCantidadRegistrosValue {
	width: 99%;
	text-align: left;
	margin-top: 1px;
	margin-left: 2px;
	
	font-family: Segoe UI;
	font-size: 9pt;
}