.divMenuBar {
	float: left;
	width: 100%;
	height: 22px;
	border-bottom: solid 1px gray;
}

.divMenuBar div {
	height: 100%;
	text-align: left;
}

.inactiveMenuBarItemLogo {
	float: left;
	width: 50px;
}

#divLogo {
	background-color: #282829;
	text-align: center;
}

#imgLogo {
	height: 22px;
}

.inactiveMenuBarItem {
	float: left;
	width: 100%;
	/* border-bottom: solid 1px gray; */
}

.inactiveMenuBarItem div {
	width: 98%;
	border-left: solid 1px #F0F0F0;
	border-right: solid 1px #F0F0F0;
}

.activeMenuBarItem {
	float: left;
	width: 100%;
	background-color: gray;
}

.activeMenuBarItem div {
	width: 98%;
	border-left: solid 1px gray;
	border-right: solid 1px gray;
}

.activeMenuBarItem div a {
	color: white;
	font-weight: bold;
}

.divMenuParent {
	float: left;
	width: 100%;
	font-weight: bold;
	font-size: 10pt;
}

.aMenuLeaf {
	margin-left: 15px;
}

.divUserInfo {
	float: right;
	width: 100px;
	height: 100%;
	text-align: right;
	border-bottom: solid 1px gray;
}

.divUserInfo div {
	float: right;
	text-decoration: underline;
}

.divActiveUserName {
	float: right;
	margin-right: 2px;
}

.divLogout {
	cursor: pointer;
	float: right;
	width: 16px;
	background-image: url("/LogisticaWEB/images/logout.png");
	background-repeat: no-repeat;
}