body {
	font-family: Segoe UI;
	font-size: 12pt;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: #F0F0F0;
}

select {
	font-family: Segoe UI;
	font-size: 12pt;
}

input {
	font-family: Segoe UI;
	font-size: 12pt;
}

textarea {
	font-family: Segoe UI;
	font-size: 12pt;
}

a {
	font-family: Segoe UI;
	font-size: 12pt;
}

table {
	border: solid 1px #979797;
	background-color: white;
}

table thead tr td {
	font-family: Segoe UI;
	font-size: 12pt;
	
	text-align: center;
	background-color: #F3F4F6;
	
	border-bottom: solid 1px #D5D5D5;
	border-right: solid 1px #D5D5D5;
	
	cursor: pointer;
	
	height: 35px;
}

table tbody tr td {
	border-right: solid 1px #EBF4FE;
	
	height: 35px;
}

table tbody tr td div {
	overflow: hidden;
	white-space: nowrap;
}

table tfoot tr td {
	font-family: Segoe UI;
	font-size: 12pt;
	
	text-align: center;
	background-color: #F3F4F6;
	
	border-top: solid 1px #D5D5D5;
	border-right: solid 1px #D5D5D5;
	
	height: 35px;
}

.divTitleBar {
	border-bottom: solid 1px #AAAAAA;
	background-color: #CFCFCF;
	font-weight: bold;
	font-size: 15pt;
	float: left;
	width: 100%;
	height: 48px;
}

.divMenu {
	float: left;
	width: 25%;
	height: 100%;
	text-align: right;
}

.divMenuButton {
	float: left;
	width: 48px;
	height: 36px;
	border-right: solid 1px #AAAAAA;
	padding-top: 12px;
}

.divMenuLine {
	background-color: #777777;
	float: left;
	width: 22px;
	height: 4px;
	margin-left: 12px;
	margin-top: 4px;
}

.divTitle {
	float: left;
	width: 50%;
	height: 100%;
	text-align: center;
	margin-top: 12px;
}

.divTitleRight {
	float: left;
	width: 25%;
	height: 100%;
	text-align: right;
}

#divMenuContent {
	width: 50%;
	height: auto;
	overflow: hidden; 
	background-color: #CFCFCF;
	border-top: solid 1px #AAAAAA;
	border-right: solid 1px #AAAAAA; 
	position: absolute; 
	top: 49px; 
	left: 0;
	display: none;
}

.divMenuItem {
	width: 100%;
	height: 35px;
	margin-top: 15px;
	border-bottom: solid 1px #AAAAAA;
}

.divMenuItemText {
	margin-left: 5px;
	font-weight: bold;
}

#divIFrameActivePage {
	float: left;
	margin-top: 20px;
	width: 100%;
	position: relative;
}

.divFormLabel {
	float: left;
	width: 100px;
	text-align: right;
	margin-right: 5px;
	margin-top: 5px;
}

.divFormLabelExtended {
	float: left;
	width: 150px;
	text-align: right;
	margin-top: 2px;
	margin-right: 5px;
}

.divFormValue {
	float: left;
	width: 57%;
	margin-top: 5px;
}