#divIFrameBarrio {
	position: relative;
	top: 100px;
	left: 100px;
	width: 550px;
	height: 350px;
	z-index: 3;
	border: solid 1px black;
	background-color: white;
}

#iFrameBarrio {
	position: absolute;
	top: 21px;
	left: 0;
	border: none;
	width: 100%;
	height: 329px;
}